// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";
$orange: #e26426;
$white: #ffffff;
$purple: #382a3b;
$grey: #c0bebe;
$dark_grey: #868686;

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}

// Footer.
.footer {
  height: 70px;
  line-height: 70px;
  background-color: #181818;
  width: 100%;
}
.footer p {
  text-align: center;
  color: #525252;
  margin-bottom: 0;
}

.footer span {
  color: $orange;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}
header#navbar {
  border: none;
  background: none;
}
body.path-frontpage div#hero {
  background-image: url("../images/venice.jpg");
}
body.page-node-type-portfolio-item div#hero {
  background-image: url("../images/brick.jpg");
}
div#hero {
  background-repeat: no-repeat;
  height: 468px;
  background-size: cover;
  background-position: 50%;
  margin: 0;
  position: relative;
}
body {
  margin-top: 0;
}
nav#block-mainnavigation a {
  color: $white;
  width: 115px;
  text-align: center;
  margin-right: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  font-weight: 300;
}
nav#block-mainnavigation a:hover {
  background-color: rgba(226, 100, 38, 0.7);
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}
div.navbar-header {
  margin-top: 25px;
  width: 55%;
  float: right;
}
div.name h2 {
  margin-top: 0;
  color: $orange;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2.5em;
  letter-spacing: 3px;
}
div.name span,
div#hero-text h1 {
  color: $white;
}
body.page-node-type-portfolio-item div.name span {
  color: $orange;
}
div.name {
  padding-top: 30px;
  z-index: 1;
  display: inline-block;
  float: left;
  margin-left: 10%;
  position: absolute;
}
div.name a:hover,
div.field--name-field-visit-website a:hover {
  text-decoration: none;
}
section#block-socialmediablock li {
  list-style-type: none;
  display: inline-block;
}
section#block-socialmediablock {
  display: inline-block;
  margin-top: 4px;
}
#block-mainnavigation ul {
  margin: 0;
}
section#block-socialmediablock i {
  background-color: $orange;
  padding: 5px;
  border-radius: 50%;
  margin-right: 15px;
}
section#block-socialmediablock a {
  color: inherit;
}
section#block-socialmediablock i:hover {
  -webkit-filter: grayscale(100%);
}
@media all and (min-width: 992px) {
  section#block-responsivemenumobileicon {
    display: none;
  }
  header#navbar {
    margin-right: 0;
  }
  div.navbar-header {
    width: 65%;
  }
  div.nav-border {
    border-bottom: 1px solid $grey;
  }
  .block-views-blocktestimonials-block-1 {
    margin: 0 5%;
  }
  .view-content .views-field-field-author-image {
    padding-top: 20px;
  }
  div.view-testimonials .view-content div:nth-child(1) .views-field-title {
    margin-top: 80px;
  }
  div.view-testimonials .view-content div:nth-child(2) .views-field-title {
    margin-top: 38px;
  }
  div.view-testimonials .view-content div.views-row:nth-child(1) {
    border-right: 1px solid $grey;
    padding-right: 70px;
  }
  div.view-testimonials .view-content div.views-row:nth-child(2) {
    padding-left: 70px;
  }
  div.view-id-portfolio .views-row {
    padding-right: 20px;
  }
  div.view-testimonials div.view-header h3 {
    margin-right: 25px;
  }
  div#border-nav {
    height: 1px;
    background-color: $grey;
  }
  div.view-testimonials div.view-header h3 {
    margin-right: 25px;
  }
}
@media screen and (min-width: 40em) {
  .layout--twocol > .layout__region--first {
    flex: 0 1 70% !important;
  }
  .layout--twocol > .layout__region--second {
    flex: 0 1 30% !important;
    padding-top: 225px;
  }
}

@media all and (max-width: 992px) {
  nav#block-mainnavigation,
  section#block-socialmediablock {
    display: none;
  }
  section#block-responsivemenumobileicon {
    display: block;
  }
  div.row div.view-id-portfolio .views-row {
    display: block;
    width: 100%;
    position: relative;
    padding-bottom: 40px;
  }
  div.view-id-portfolio div.view-content {
    width: 500px;
    margin: 0 auto;
    max-width: 100%;
  }
  div.row div.views-field-field-technology-icon {
    left: -5%;
  }
  div.row div.view-testimonials .views-row {
    width: 70%;
    margin: 0 auto;
    display: block;
    padding-bottom: 30px;
  }
  div.my-pic img {
    width: 50%;
    margin: 0 auto;
  }
  div.skill-icons,
  div.about,
  div.skills,
  h3.intro-text {
    text-align: center;
  }
  div.row section#block-worktogether div.container-fluid div.row {
    text-align: center;
    padding: 40px;
  }
  div.row section#block-worktogether div.container-fluid div.row h3 {
    padding-bottom: 10px;
  }
  div.row div.field--name-field-mobile-image div:nth-child(2) {
    padding-right: 0;
  }
  div.view-testimonials p {
    padding-bottom: 10px;
  }
}
@media all and (max-width: 550px) {
  div.row div.views-field-field-technology-icon {
    left: 3%;
  }
}
@media all and (max-width: 478px) {
  div.navbar-header {
    width: 40%;
  }
}
@media all and (min-width: 520px) and (max-width: 992px) {
  div.row div.name {
    margin-left: 50px;
  }
  header div.navbar-header {
    width: 50%;
  }
}
@media all and (min-width: 479px) and (max-width: 992px) {
  header div.navbar-header {
    width: 30%;
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  header div.navbar-header {
    width: 20%;
  }
  ul.mm-listview li {
    width: 100%;
    display: block;
  }
  div#off-canvas div#mobile-social {
    margin-top: 190px;
  }
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  div.view-testimonials .view-content div:nth-child(1) .views-field-title {
    margin-top: 102px;
  }
}
@media all and (min-width: 1200px) {
  div.navbar-header {
    width: 55%;
  }
  section#block-views-block-pager-block-1 ul.pager-first li.entity-pager-item-prev:after {
    margin-top: -15px;
  }
  div.row section#block-views-block-pager-block-1 ul.pager-first {
    margin-bottom: -34px;
  }
}
@media all and (min-width: 459px) {
  div#hero-text {
    padding-top: 40px;
  }
}
@media all and (max-width: 400px) {
  div#hero div.name h2 {
    margin-top: 7px;
    font-size: 2em;
  }
  div.row section#block-worktogether div.container-fluid div.row {
    text-align: center;
    padding: 40px 5px;
  }
}
@media all and (max-width: 585px) {
  div.row div.field--name-field-mobile-image div:nth-child(1) {
    padding-right: 0;
  }
}
div#off-canvas ul.menu a {
  padding: 25px 50px 25px 40px;
  border-bottom: 1px solid #333;
  color: $white;
}
.mm-listview>li:not(.mm-divider):after {
  left: 0;
  display: none;
}
div#mobile-social li {
  list-style-type: none;
}
div#mobile-social a {
  display: block;
  min-height: 21px;
  background-position: 15px 45%;
  background-repeat: no-repeat;
  text-decoration: none;
  color: $white;
  padding: 15px 50px;
}
div#mobile-social {
  border-top: 10px #333 solid;
  margin: 0 -20px;
}
div#off-canvas ul.mm-listview {
  margin-bottom: 0;
}
#mm-1 > ul > li:nth-child(3) > a {
  border-bottom: none;
}
div#off-canvas ul a:hover {
  background-color: rgba(226, 100, 38, 0.7);
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}
li.linkedin a {
  background-image: url(../images/linkedin.png);
  background-size: 30px
}
li.twitter a {
  background-image: url(../images/twitter.png);
  background-size: 30px
}
li.instagram a {
  background-image: url(../images/instagram.png);
  background-size: 30px
}
section#block-responsivemenumobileicon {
  margin-top: 9px;
}
div.mm-panels {
  margin-left: -1px;
}
div.navbar-header .responsive-menu-toggle-icon:before,
.responsive-menu-toggle-icon:after,
.responsive-menu-toggle-icon span.icon {
  background-color: $orange;
}
div.navbar-header span.label {
  color: $orange;
}
div#hero-text {
  margin-left: 10%;
}
div#hero-text h1 {
  font-family: -webkit-body;
  font-size: 3.5em;
}
div#hero-text .btn,
div.view-id-portfolio div.view-footer a,
section#block-worktogether a.btn {
  background-color: rgba(191, 88, 41, 0.8);
  border: 1px solid transparent;
  border-radius: inherit;
  color: $white;
  padding: 15px;
  font-family: sans-serif;
  text-transform: uppercase;
}
div#hero-text a:hover,
section#block-worktogether a.btn:hover,
div.field--name-field-visit-website a:hover,
div.view-id-portfolio div.view-footer a:hover {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}
div.view-id-portfolio .views-row {
  display: inline-block;
  width: 40%;
  position: relative;
  padding-bottom: 20px;
}
div.view-id-portfolio {
  text-align: center;
  padding-bottom: 60px;
}
div.view-id-portfolio div.view-header {
  padding-bottom: 20px;
}
div#mm-0 {
  background-color: #f4f4f3;
}
div.view-id-portfolio h3:nth-child(1),
section#block-views-block-pager-block-1 li,
div.view-testimonials div.view-header h3,
span.about-title {
  color: #aaaaaa;
  margin-bottom: 0;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1em;
}
section#block-views-block-pager-block-1 li {
  color: $orange !important;
}
div.view-testimonials div.view-header h3 {
  text-align: center;
  padding-bottom: 35px;
}
div.view-id-portfolio h3:nth-child(3),
h3.intro-text {
  color: $purple;
  margin-top: 0;
  font-family: -webkit-body;
  font-size: 2em;
}
div.views-field-field-technology-icon {
  position: absolute;
  top: -25px;
  left: -25px;
  z-index: 1;
}
div.view-id-portfolio .views-field-title {
  opacity: 0;
  transition: .5s ease;
}
div.view-id-portfolio .views-row:hover .views-field-title {
  opacity: 1;
}
div.view-id-portfolio div.views-field-title span {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.views-field-field-homepage-teaser img {
  -webkit-filter: brightness(100%);
}

.views-field-field-homepage-teaser img:hover {
  -webkit-filter: brightness(40%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
section.block-about-me i {
  padding-right: 20px;
  //padding-bottom: 20px;
}
i.fa-drupal:hover {
  color: #0678be;
}
i.fa-wordpress:hover {
  color: #23282d;
}
section.block-about-me .intro,
section.block-about-me .skills {
  border-bottom: 1px solid $grey;
  margin-bottom: 30px;
  padding-bottom: 40px;
}
.skills p,
h3.intro-text,
.skills ul {
  margin-top: 10px;
}
.skills ul {
  list-style: none;
  color: #e26426;
  padding-left: 0;
  letter-spacing: 2px;
  line-height: 30px;
  text-transform: uppercase;
}
div.view-testimonials .views-row {
  display: inline-block;
  width: 49%;
  text-align: center;
  vertical-align: top;
}
.skills p,
div.field--name-body p,
div.view-testimonials p {
  color: $dark_grey;
  padding-top: 25px;
  font-family: -webkit-body;
  font-size: 1.1em;
}
div.row .skills p {
  padding-top: 0;
}
.views-field-field-author-image {
  width: 100px;
  margin: 0 auto;
}
div.view-testimonials .views-field-title span::before {
  content: "- ";
}
div.view-testimonials .view-content div.views-row:nth-child(1) i {
  color: $orange;
}
div.view-testimonials .view-content div.views-row:nth-child(2) i {
  color: #ffae3f;
}
section#block-worktogether div.row {
  background-color: #272727;
}
section#block-worktogether h3 {
  color: #525252;
  font-size: 2.5em;
  font-family: -webkit-body;
  font-weight: 700;
}
body.user-logged-in div#mm-0 {
  padding-top: 80px !important;
}
section#block-worktogether div.container-fluid,
section#block-views-block-pager-block-1,
div#bg-overlay{
  margin-left: calc(50% - 50vw);
  width: 100vw;
}
section#block-worktogether div.container-fluid div.row {
  padding: 50px;
}
section#block-worktogether div.container-fluid div.row h3 {
  margin: 0;
}
div.view-testimonials {
  padding-bottom: 40px;
}
div.navbar-header {
  display: none;
}
.hideme {
  opacity: 0;
}
body.page-node-type-portfolio-item h1.page-header {
  margin-top: -260px;
  font-size: 3em;
  color: $white;
  text-align: center;
  border: 0;
}
div.field--name-field-client-name {
  padding-bottom: 30px;
}
div.field--name-field-desktop-image {
  display: inline-block;
  padding-top: 100px;
}
div.field--name-field-client-name div.field--label,
div.field--name-field-visit-website a,
div.field--name-field-technology-used div.field--label {
  text-transform: uppercase;
  color: $white;
  font-weight: 300;
  padding-bottom: 3px;
  letter-spacing: 2px;
}
html {
  background-color: $orange;
}
div#bg-overlay {
  background-color: $orange;
  height: 340px;
  margin-top: 185px;
}
article.portfolio-item {
  position: relative;
}
div.field--name-field-client-name div.field--item,
div.field--name-field-technology-used div.field--item {
  color: $white;
  font-size: 1.2em;
}
div.field--name-field-visit-website a {
  border: 2px solid white;
  padding: 10px;
}
div.field--name-field-visit-website {
  padding-top: 70px;
}
body.page-node-type-portfolio-item div.content {
  background: url("../images/orange-bg.jpg") 100% 10%;
  background-repeat: repeat-x;
  margin-left: calc(50% - 50vw);
  width: 100vw;
}
body.page-node-type-portfolio-item div.field--name-body {
  margin: 0 13%;
}
body.page-node-type-portfolio-item div.field--name-body div.field--label {
  color: $purple;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 2px;
}
div.field--name-field-tablet-image img {
  margin: 0 auto;
}
div.field--name-field-tablet-image,
div.field--name-field-mobile-image {
  padding-top: 50px;
}
div.field--name-field-mobile-image {
  text-align: center;
}
div.field--name-field-mobile-image div.field--item {
  display: inline-block;
}
div.field--name-field-mobile-image div:nth-child(1),
div.field--name-field-mobile-image div:nth-child(2) {
  padding-right: 50px;
}
section#block-views-block-pager-block-1 {
  border-top: 1px solid $grey;
}
section#block-views-block-pager-block-1 ul.entity-pager-list a {
  text-decoration: none;
  color: $orange;
  display: block;
  height: 100px;
}
section#block-views-block-pager-block-1 li.entity-pager-item-prev a:after {
  content: "\f190";
}
section#block-views-block-pager-block-1 li.entity-pager-item-next a:after {
  content: "\f18e";
}
section#block-views-block-pager-block-1 ul.pager-last li.entity-pager-item-next:after,
section#block-views-block-pager-block-1 ul.pager-first li.entity-pager-item-prev:after {
  content: "\f1a9";
}
section#block-views-block-pager-block-1 li.entity-pager-item-prev a:after,
section#block-views-block-pager-block-1 ul.pager-last li.entity-pager-item-next:after,
section#block-views-block-pager-block-1 ul.pager-first li.entity-pager-item-prev:after,
section#block-views-block-pager-block-1 li.entity-pager-item-next a:after {
  font-family: FontAwesome;
  display: block;
  font-size: 5em;
}
section#block-views-block-pager-block-1 span.inactive {
  display: none;
}
section#block-views-block-pager-block-1 li.entity-pager-item-next {
  border-left: 1px solid $grey;
}
section#block-views-block-pager-block-1 ul {
  margin-bottom: 0;
  margin-top: -4px;
}
section#block-views-block-pager-block-1 li.entity-pager-item {
  padding: 3% 16%;
  width: 47%;
  height: 170px;
}
@media all and (max-width: 545px) {
  section#block-views-block-pager-block-1 li.entity-pager-item-next {
    height: 217px;
  }
  section#block-views-block-pager-block-1 ul li.entity-pager-item {
    padding: 4% 16%;
  }
  section#block-views-block-pager-block-1 ul.pager-first li.entity-pager-item {
    padding: 6% 16%;
  }
  div.row section#block-views-block-pager-block-1 ul.pager-last {
    margin-bottom: -85px;
  }
  div.row section#block-views-block-pager-block-1 ul.pager-first {
    margin-bottom: 0;
  }
}
@media all and (min-width: 881px) and (max-width: 1162px) {
  section#block-views-block-pager-block-1 li.entity-pager-item {
    padding: 4% 10%;
    height: 200px;
  }
  div.row section#block-views-block-pager-block-1 ul.pager-last {
    margin-bottom: -38px;
  }
}
section#block-views-block-pager-block-1 div.views-view-entity-pager ul.pager-last {
  padding-bottom: 0;
}
section#block-views-block-pager-block-1 ul.pager-last li.entity-pager-item-next {
  border: none;
}
section#block-views-block-pager-block-1 ul.pager-last li.entity-pager-item-prev {
  border-right: 1px solid $grey;
}
section#block-views-block-pager-block-1 ul.pager-last,
section#block-views-block-pager-block-1 ul.pager-first {
  margin-bottom: -19px;
}
@media all and (min-width: 546px) and (max-width: 880px) {
  div.row section#block-views-block-pager-block-1 ul.pager-last,
  div.row section#block-views-block-pager-block-1 ul.pager-first {
    margin-bottom: -38px;
  }
}
section#block-views-block-pager-block-1 ul.pager-last li.entity-pager-item {
  padding: 2% 16%;
}
article {
  padding-bottom: 50px;
}
body.page-node-type-portfolio-item div.row div.field--name-body {
  padding-top: 50px;
}

@media all and (max-width: 639px) {
  body div#bg-overlay {
    height: 450px;
  }
  div.field--name-field-desktop-image img {
    width: 450px;
  }
  body.page-node-type-portfolio-item div.row div.field--name-body {
    padding-top: 100px;
  }
}
@media all and (min-width: 658px) and (max-width: 991px) {
  body.page-node-type-portfolio-item div.row div.content div.field--name-body {
    padding-top: 100px;
  }
}