// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}

// Footer.
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}
header#navbar {
  border: none;
  background: none;
}
div#hero {
  background-image: url("../images/venice.jpg");
  background-repeat: no-repeat;
  height: 468px;
  background-size: cover;
  background-position: 50%;
}
body {
  margin-top: 0;
}
nav#block-alitheme-main-menu a {
  color: #FFFFFF;
  width: 115px;
  background-color: #000000;
  text-align: center;
  margin-right: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  font-weight: 300;
}
div.navbar-header {
  float: right;
  margin-top: 25px;
}
div.name h2 {
  margin-top: 0;
  color: #e26426;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2.5em;
  letter-spacing: 3px;
}
div.name span {
  color: #ffffff;
}
div.name {
  padding-top: 30px;
  z-index: 1;
}